<nav>
    <div class="container">
        <div class="row ">
            <div class="col-md-12">
                <div class="mobile-menu-icon animate__animated" (click)="toggleMobileMenu()"
                    [ngClass]="{
                        'menu-open': isMobileMenuOpen,
                        'animate__bounceIn': isMobileMenuOpen
                    }"></div>
                <ul>
                    <li *ngFor="let route of routes">
                        <a [routerLink]="route.path">{{ route.translatorKey | translate }}</a>
                    </li>
                    <li>
                        <a href="#footer">{{ 'CONTACT' | translate }}</a>
                    </li>
                </ul>
                <div class="btns-languages">
                    <button class="btn-language btn-portuguese clickable" (click)="changeToPortuguese()"></button>
                    <button class="btn-language btn-english clickable" (click)="changeToEnglish()"></button>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="mobile-menu animate__animated" #mobileMenu
    [ngClass]="{
        'animate__slideInLeft': isMobileMenuOpen,
        'animate__slideOutLeft': !isMobileMenuOpen
    }">
    <ul>
        <li *ngFor="let route of routes">
            <a [routerLink]="route.path">{{ route.translatorKey | translate }}</a>
        </li>
        <li>
            <a href="#footer">{{ 'CONTACT' | translate }}</a>
        </li>
    </ul>
</div>
<header class="align-center text-center">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h1>
                <img src="assets/images/logo.png" alt="Remains of Life Logo">
            </h1>
            <h2 class="title">{{ 'BAND-DESCRIPTION' | translate }}</h2>
        </div>
    </div>
</header>