<article>
    <div class="row title-date">
        <h3 class="text-center subtitle">{{ 'NEW-SINGLE' | translate }}</h3>
        <span class="date">21/10/2021</span>
    </div><br>
    <div class="row article-content">
        <div class="col-md-12 col-xs-12">
            <img width="250" src="assets/images/shattered-mirror.png" alt="Shattered Mirror Cover">
            <p>{{ 'NEW-SINGLE-CONTENT-1' | translate }}</p><br>
            <p>{{ 'NEW-SINGLE-CONTENT-2' | translate }}</p><br>
            <div class="text-center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/BM5dj1UFe04" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</article>