<article>
    <div class="row title-date">
        <h3 class="text-center subtitle">{{ 'FORLORN-EP-TITLE' | translate }}</h3>
        <span class="date">12/11/2024</span>
    </div><br>
    <div class="row article-content">
        <div class="col-md-12 col-xs-12">
            <img width="250" src="assets/images/forlorn.jpg" alt="Forlorn Cover">
            <p>{{ 'FORLORN-EP-CONTENT' | translate }}</p><br>
            <p>{{ 'FORLORN-EP-CONTENT-2' | translate }}</p><br>
            <P>{{ 'PRE-SAVE' | translate }}</P> <a href="https://share.amuse.io/track/remains-of-life-forlorn">https://share.amuse.io/track/remains-of-life-forlorn</a>
        </div>
    </div>
</article>