<article>
    <div class="row title-date">
        <h3 class="text-center subtitle">{{ 'FORLORN-EP-TITLE' | translate }}</h3>
        <span class="date">22/11/2024</span>
    </div><br>
    <div class="row article-content">
        <div class="col-md-12 col-xs-12">
            <img width="250" src="assets/images/forlorn.jpg" alt="Forlorn Cover">
            <span>{{ 'FORLORN-EP-CONTENT' | translate }}</span><br>
            <span>{{ 'FORLORN-EP-CONTENT-2' | translate }}</span>
            <a href="https://remainsoflife.bandcamp.com/album/forlorn" target="_blank">
                <span>Bandcamp</span>
            </a>
            <span>{{ 'FORLORN-EP-CONTENT-3' | translate }}</span>
        </div>
    </div>
</article>