<article>
    <div class="row title-date">
        <h3 class="text-center subtitle">{{ 'CONSUMED-PLAYTHROUGH' | translate }}</h3>
        <span class="date">02/08/2023</span>
    </div><br>
    <div class="row article-content">
        <div class="col-md-12 col-xs-12">
            <p class="text-center">{{ 'CONSUMED-CONTENT' | translate }}</p><br>
            <div class="text-center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/uCKcewu75M8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</article>