<article>
    <div class="row title-date">
        <h3 class="text-center subtitle">{{ 'GUILTY-LYRIC-VIDEO' | translate }}</h3>
        <span class="date">05/06/2025</span>
    </div><br>
    <div class="row article-content">
        <div class="col-md-12 col-xs-12">
            <p class="text-center">{{ 'GUILTY-CONTENT' | translate }}</p><br>
            <div class="text-center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/FIv700ZrAo4?si=WMYdK41PCYQqDO0q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</article>