<div class="row">
    <section class="col-md-8 col-xs-12">
        <h2 class="text-center title">{{ 'BIOGRAPHY' | translate }}</h2><br>
        <article>
            <span>{{ 'BIOGRAPHY-CONTENT-1' | translate }}</span><br><br>
            <span>{{ 'BIOGRAPHY-CONTENT-2' | translate }}</span><br><br>
            <span>{{ 'BIOGRAPHY-CONTENT-3' | translate }}</span><br><br>
            <span>{{ 'BIOGRAPHY-CONTENT-4' | translate }}</span><br><br>
            <span>{{ 'BIOGRAPHY-CONTENT-5' | translate }}</span>
        </article>
    </section>
    <div class="col-md-4 col-xs-12 text-center mt-2">
        <app-side-content></app-side-content>
    </div>
</div>