<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <span>{{ 'CONTACT-CONTENT' | translate }}</span><br>
                <a href="mailto:remainsoflifeofficial@gmail.com">remainsoflifeofficial@gmail.com</a><br><br>
                <p>&copy; {{ year }}, Remains of Life. {{ 'RIGHTS-MESSAGE' | translate }}</p>
                <p>{{ 'DEVELOPMENT-CREDITS' | translate }}</p>
                <a href="https://github.com/jdc-developer" target="_blank">https://github.com/jdc-developer</a>
            </div>
        </div>
    </div>
</footer>