<div class="row">
    <section class="col-md-8 col-xs-12 text-center">
        <h2 class="title">{{ 'PHOTOS' | translate }}</h2><br>
        <article class="row photos" lightbox-group>
            <div *ngFor="let photo of photos" class="col-md-4 col-xs-12 col-sm-6 mt-2">
                <img class="img-album clickable" [src]="'assets/images/img-' + photo + '.jpg'" lightbox
                    [alt]="'Remains of Life Img ' + photo">
            </div>
        </article><br>
        <p>{{ 'PHOTOGRAPHY-CREDIT' | translate }}</p>
        <a href="https://www.instagram.com/fotografiaevelynmello/" target="_blank">@fotografiaevelynmello</a>
    </section>
    <div class="col-md-4 col-xs-12 text-center mt-2">
        <app-side-content></app-side-content>
    </div>
</div>