<article>
    <div class="row title-date">
        <h3 class="text-center subtitle">{{ 'NEW-ALBUM' | translate }}</h3>
        <span class="date">24/12/2021</span>
    </div><br>
    <div class="row article-content">
        <div class="col-md-12 col-xs-12">
            <img width="250" src="assets/images/pilgrimage-cover.png" alt="Pilgrimage Cover">
            <p>{{ 'NEW-ALBUM-CONTENT-1' | translate }}</p><br>
            <span>{{ 'NEW-ALBUM-CONTENT-2' | translate }}</span>
            <a href="https://coldartindustry.loja2.com.br/9938990-_-REMAINS-OF-LIFE-Pilgrimage-Slipcase-CD" target="_blank">
                <span>{{ 'COLD-ART-INDUSTRY-WEBSITE' | translate }}</span>
            </a>
            <span>{{ 'NEW-ALBUM-CONTENT-3' | translate }}</span>
            <a href="https://remainsoflife.bandcamp.com/album/pilgrimage" target="_blank">
                <span>Bandcamp</span>
            </a>
            <span>{{ 'NEW-ALBUM-CONTENT-4' | translate }}</span>
        </div>
    </div>
</article>