<section>
    <img width="300" src="assets/images/pilgrimage-cover.png" alt="Pilgrimage Cover">
    <h3>PILGRIMAGE</h3>
    <p>{{ 'PILGRIMAGE-TEXT' | translate }}</p><br>
    <p>
        1. Path of Misery <br>
        2. Consumed by Darkness <br>
        3. Shattered Mirror <br>
        4. The Lonely Walker <br>
        5. Eyes of Sorrow <br>
        6. A Light Hidden in the Dark
    </p><br>
    <a href="https://shopee.com.br/product/332138987/15510466920/" target="_blank">
        <button class="btn btn-primary">{{ 'BUY' | translate }}</button>
    </a>
</section><br>
<section class="text-center">
    <h3 class="subtitle">{{ 'LISTEN-SPOTIFY' | translate }}</h3><br>
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/4yq8MHTG8XNn2qAwsa6FrZ?utm_source=generator" 
    width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
</section><br>
<section class="text-center channels">
    <h3 class="subtitle">{{ 'CHANNELS' | translate }}</h3><br>
    <div class="flex-center">
        <img class="mr-1" src="assets/images/facebook.png" width="20" alt="Facebook">
        <a href="https://www.facebook.com/remainsoflifeofficial" target="_blank">Facebook</a>
    </div>
    <div class="flex-center mt-1">
        <img class="mr-1" src="assets/images/youtube.png" width="20" alt="YouTube">
        <a href="https://www.youtube.com/channel/UC9AkO6yI7nQlPaduUfsFzGQ" target="_blank">YouTube</a>
    </div>
    <div class="flex-center mt-1">
        <img class="mr-1" src="assets/images/instagram.png" width="20" alt="Instagram">
        <a href="https://www.instagram.com/remainsoflifeofficial/" target="_blank">Instagram</a>
    </div>
</section>